.back {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: var(--secondary-color);
  width: 45px;
  height: 45px;
  cursor: pointer;
  span {
    color: #fff;
    width: 10px;
  }
}
