@media screen and (min-width: 375px) {
  .tab {
    background-color: var(--primary-color);
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    &-home {
      display: flex;
      justify-content: center;
    }
    &-link {
      color: #fff;
      width: 50%;
      text-align: center;
      display: inline-block;
      padding-bottom: 3px;
      &--active {
        border-bottom: 4px solid var(--border-tab);
        border-radius: 3px;
      }
    }
    &-category {
      display: grid;
      justify-content: flex-start;
      grid-auto-columns: 180px;
      grid-auto-flow: column;
      grid-gap: 10px;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 1rem;
      grid-template-columns: unset;
      color: #fff;
      padding-left: 10px;
      padding-bottom: 5px;
    }
    &-category::-webkit-scrollbar {
      display: none;
      width: 0;
    }
    &-category > * {
      scroll-snap-align: start;
    }
  }
  .icon-back
}
