.input {
  position: relative;
  border-radius: 100rem;
  overflow: hidden;
  cursor: pointer;
  &-search {
    width: 195px;
    height: 29px;
    background-color: var(--input-bgColor);
    color: #fff;
    text-align: center;
    &--close {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      width: 20px;
    }
  }
}
