
.media-detail-content{
    min-height: 100vh;

}
.image{
    width: 430px;
    height: 600px;
}
.title-and-description{
    
    position: absolute;
    padding-top: 10px;
    padding-left: 35px;
    color: aqua;
}