
.media-detail-content{
    min-height: 100vh;

}
.image{
    width: 450px;
    height: 650px;
}
.title-and-description{
    
    position: absolute;
   bottom: 100px;
   left: 45px;
    color: aqua;
}