
.media-detail-content{
    min-height: 100vh;

}
.image{

    min-height: 100vh;
    img {
        width: 100%;
        height: 100%;
        object-fit:  cover;
    }
}
.title-and-description{
    
    position: absolute;
   bottom: 50px;
   left: 45px;
    color: #fff;
}