.image{
    justify-content: center;
    width: 700px;
    height: 500px;
}

.title{
    justify-content:center;
    align-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    
}

.description{
    width: 10px;
}