.bottom-media-detail-layout {
//   background-color: var(--secondary-color);
//   padding: 20px 40px;
//   position: fixed;
//   height: 60px;
//   bottom: 0;
//   width: 100%;
//   cursor: pointer;

}

.icon-share{
    justify-content: center;

}
.icon-download{
    justify-content: center;
    
}

.icon-favorite{
    justify-content: center;
    
}





