.bottom-media-detail-layout {
  background-color: var(--secondary-color);
  padding: 20px 40px;
  position: fixed;
  height: 60px;
  bottom: 0;
  width: 100%;
  cursor: pointer;

}

.icon-share{
    width: 35px;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;

}
.icon-download{
    width: 35px;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    
}

.icon-favorite{
    width: 35px;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    
}





