.bottom-media-detail-layout{
    background-color: var(--secondary-color);
    padding: 20px 40px;
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}

.icon-detail{
    
    align-items: center;
    justify-content: space-between;
    width: 50px;
      color: #fff;
}