.bottom-layout {
    background-color: var(--secondary-color);
    padding: 20px 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    cursor: pointer;

  }

  .bottom-layout-icon{
    width: 10px;
  }
