.bottom-media-detail-layout{
    background-color: var(--secondary-color);
    padding: 20px 40px;
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}

.icon-share{
    display: flex;
    flex-wrap: wrap;
    width: 30px;
      color: #fff;
}
.icon-download{
    display: flex;
    padding-left: 100px;
    justify-content: space-between;
    width: 50px;
      color: #fff;
}
.icon-favorite{
    display: flex;
    
    justify-content: space-between;
    width: 50px;
      color: #fff;
}